html{
  margin:0;
  padding:0
}
								
body{
  font-family:Verdana,sans-serif;
  font-size:10pt;
  line-height:1.3em;
  background-color:#fafaff;
  color:#333333;
  margin:0;
  padding:10px 10px 0 10px;
}

p{
  margin:10px 20%;
  padding:0;
  text-align:center;
}

div.fullrow{
  display:table;
  table-layout:fixed;
  width:auto;
  margin:5px auto;
  padding:0;
  border-collapse:separate;
  border-spacing:5px 0;
}

.cell{
  display:table-cell;
  width:100px;
  height:100px;
  border:0px solid transparent;
  border-radius:5px;
  margin:10px auto;
  padding:5px;
  text-align:center;
  vertical-align:middle;
}

a{
  text-decoration:none;
  color:#222222;
}

a:visited{
  color:#222222;
}

a.button{
  background-color:#fafcfc;
  box-shadow:0px 0px 5px 1px #cccccc;
}

a.button:hover{
  background-color:#f0edf0;
  box-shadow:0px 0px 5px -2px #666666 inset;
}

img{
  border:0 transparent none;
  max-width:90px;
  max-height:90px;
}


